*{
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;

}
.layout-1 #topHeader{
    background-color:red;
    float: center;
    width: 100%;
    text-align: center;

}
.layout-1{
    background-color: #e3e3e3;

}

.layout-2{
    background-color: #e3e3e3;

}

.layout-3{
    background-color: #e3e3e3;

}

.layout-1 nav{
    background-color:blue;
    text-align: center;
}

.layout-1 #sectionHeader{
    background-color:yellow;
 }

.layout-1 article{
    background-color:orange;
}
.layout-1 aside{
    background-color:purple;
    float: right;
    height: 100px;
    width: 50%;
    border: 5px groove white;
    padding: 20px;
}

.layout-1 aside a{
    background-color:white;
}

.layout-1 footer{
    height: 20px;
    text-align:center;
    clear: both;
}

#topHeader2{
    background-color:red;
    text-align: center

}
.layout-2 nav{
    background-color:blue;
    clear: both;
    width: 15%;
    height: 10px;
}

.layout-2 nav a{
    background-color:white;
}

#content{
    background-color:green;
    height:200px;
    float: center;
}

.article2{
    background-color:yellow;
    height:50px;
    float:center;
}

.aside-content{
    background-color:purple;
    height:10px;
    width: 10%;
}

.aside-info{
    background-color:aqua;
    float: right;
    padding: 5%;
    border: 5px solid purple;
}

.layout-2 img{
    background-color: aqua;
}

.layout-2 footer{
    height: 20px;
}

.layout-3 header{
    background-color:red;
}

#sectionHeader3{
    background-color:blue;
    text-align: center;
    width: 100%;
}

.layout-3 nav{
    background-color:yellow;
    width: 25%
}

.layout-3 section{
    background-color:orange;
    width: 100%;
}

.layout-3 aside{
    background-color:purple;
    float: right;
}

#pageFooter{
    background-color:green;
}

#float-right{
    float: right;
}

#float-left{
    float: left;
    width: 100%;
}